@value primary, primaryHighlight from 'common/styles/index.module.css';

.instagram {
    margin: 0;
    display: flex;
    min-height: 180px;
    max-width: 100%;
    overflow: scroll;

    & li {
        height: 180px;
        margin: 0;
        min-width: 180px;
        list-style-type: none;
    }

    & a {
        display: block
    }
}
