@value (
    primary,
    primaryHighlight,
    fontSansSerif
 ) from 'common/styles/index.module.css';

.article {
    margin-bottom: 2rem;
}

.content {
    font-family: fontSansSerif;
    font-size: .85rem;
    line-height: 1.35rem;
    & a {
        text-decoration: none;
        color: primary;
        &:hover {
            color: primaryHighlight
        }
    }
}

.hero {
    margin-bottom: 1rem;
    position: relative;
    padding-top: 60%;

    & img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        object-fit: cover;
    }
}