@value primary, primaryHighlight from '../common/styles/index.module.css';

.article {
    margin-bottom: 2rem;
}

.content {
    font-family: "Open Sans", sans-serif;
    font-size: .85rem;
    line-height: 1.35rem;
}