@value primary, primaryHighlight from '../common/styles/index.module.css';

.article {
    margin-bottom: 2rem;
}

.header-article {
    text-align: center;

}

.meta-categories {
    margin-bottom: 0.5rem;
    
    &>.category-prefix {
        font-family: 'Playfair Display';
        font-style: italic;
        font-weight: 400;
        font-style: italic;
        margin-right: 4px;
    }
    &>a {
        font-family: "Open Sans", sans-serif;
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: 700;
        letter-spacing: 2px;
        text-decoration: none;
        color: primary;
        &:hover {
            text-decoration: underline;
            color: primaryHighlight;
        }
    }
}

.meta-author-date {
    color: #AAA;
    text-align: center;
    margin-bottom: 2rem;
}

.meta-date {
    font-size: 15px;
    margin-right: 5px;
    font-family: "Open Sans", sans-serif;
}

.author-prefix {
    font-family: 'Playpair Display';
    font-size: 15px;
    font-style: italic;
    margin-right: 4px;
    border-left-width: 1px;
    border-left-style: solid;
    padding-left: 5px;
}

.meta-author {
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    color: primary;
    font-family: "Open Sans", sans-serif;
    &:hover {
        color: primaryHighlight;
        text-decoration: underline;
    }
}

.post-title {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: .05rem;
    margin-bottom: 1rem;
    font-weight: 400;
}

.content {
    font-family: "Open Sans", sans-serif;
    font-size: .85rem;
    line-height: 1.35rem;
}