@value (
    primary,
    primaryHighlight,
    fontSerif,
    fontSansSerif
 ) from 'common/styles/index.module.css';

.header {
    text-align: center;
    margin-bottom: 0.5rem;
}

.category {
    margin-bottom: 0.5rem;
    
    &>span {
        font-family: fontSerif;
        font-style: italic;
        font-weight: 400;
        font-style: italic;
        margin-right: 4px;
    }
    &>a {
        font-family: fontSansSerif;
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: 700;
        letter-spacing: 2px;
        text-decoration: none;
        color: primary;
        &:hover {
            text-decoration: underline;
            color: primaryHighlight;
        }
    }
}

.meta-author-date {
    color: #AAA;
    text-align: center;
    margin-bottom: 2rem;
}

.meta-date {
    font-size: 15px;
    margin-right: 5px;
    font-family: fontSansSerif;
}

.author-prefix {
    font-family: 'Playpair Display';
    font-size: 15px;
    font-style: italic;
    margin-right: 4px;
    border-left-width: 1px;
    border-left-style: solid;
    padding-left: 5px;
}

.meta-author {
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    color: primary;
    font-family: fontSansSerif;
    &:hover {
        color: primaryHighlight;
        text-decoration: underline;
    }
}

.post-title {
    color: #111;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font-family: fontSerif;
    font-size: 1.5rem;
    line-height: initial;
    letter-spacing: .05rem;
    margin-bottom: 1rem;
    font-weight: 400;
    & a {
        &:hover {
            color: primary;
        }
    }
}

.post-link {
    text-decoration: none;
    &:hover {
        color: primary;
    }
    &:visited {
        color: #111;
    }
}

@media only screen and (min-width: 640px) and (max-width: 980px) {
    .post-title {
        min-height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}