@value primary, primaryHighlight from '../../common/styles/index.module.css';

.breadcrumbs {
    height: 48px;
    padding: 0 10px;
    list-style-type: none;
    margin: 0;
    display: flex;
    align-items: stretch;
    background-color: #f8f8f8;
    border-bottom: 1px solid #e8e8e8;

    & li {
        margin: 0 0 0 1rem;
        display: flex;
        align-items: center;
    }

    & a {
        text-decoration: none;
        &:hover {
            color: primaryHighlight;
        }
    }
    & a,
    & li {
        color: #666;
        &.current {
            color: primary;
        }
    }
}

@media only screen and (min-width: 980px) {
  .breadcrumbs {
      padding: 0 50px;
  }
}

@media only screen and (min-width: 1200px) {
  .breadcrumbs {
      padding: 0 150px;
  }
}
