@value (
    fontSansSerif
 ) from 'common/styles/index.module.css';

.post {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.bottom {
    display: relative;
}
.content {
    font-family: fontSansSerif;
    font-size: .85rem;
    line-height: 1.35rem;
    margin-bottom: 1rem;

    &>p {
        text-align: justify;
    }
}
.hero {
    margin-bottom: 1rem;
    position: relative;
    padding-top: 60%;

    & img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        object-fit: cover;
    }
}
.published {

}

.footer {
    text-align: center;
    overflow: hidden;

    flex-grow: 1;
    margin-top: auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}