.bottom {
    display: relative;
}
.tags {
    
    &>span {
        border: 1px solid #CCC;
        box-sizing: border-box;
        display: inline-block;
        padding: .25rem .4rem;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25rem;
        margin: .25rem;
        &:last-child {
            margin-right: 0;
        }
    }
}
.published {

}