.site {
    composes: siteGrid from './common.module.css';
}

.main-layout {
    grid-area: main;
    overflow: hidden;
    margin: 0 auto;
    max-width: 835px;
}

.bottom {
    grid-area: footer;
    display: flex;
    flex-direction: column;
}
