.siteGrid {
    display: grid;
    grid-template-areas: "header header header" "navigation main ads" "footer footer footer";
    grid-template-columns: 10px minmax(200px, 1180px) 10px;
    grid-template-rows: auto 1fr auto;
    grid-column-gap: 20px;
    min-height: 100vh;
}

@media only screen and (min-width: 980px) {
  .siteGrid {
      grid-template-columns: 50px 1fr 50px;
      
  }
}

@media only screen and (min-width: 1200px) {
  .siteGrid {
    //   grid-template-columns: 150px 1fr 150px;
    //   grid-template-columns: 1fr minmax(auto, 1180px) 1fr;
      grid-template-columns: minmax(150px, 1fr) minmax(auto, 1180px) minmax(150px, 1fr);
  }
}
