.site {
    composes: siteGrid from './common.module.css'
}

.header-home {
    grid-area: header;
    background-color: rebeccapurple;
    margin-bottom: 1.45rem;

    & .header-top {
        margin: 0 auto;
        max-width: 960px;
        padding: 1.45rem 1.0875rem;
    }

    & .header-center {
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
    }

    & .header-bottom {
        padding: 0 30px;
        text-align: center;
        height: 60px;
        padding: 0 25px;
        box-shadow: 0px 1px 5px rgba(185, 185, 185, 0.5);
    }
}

.main-layout {
    grid-area: main;
}

.bottom {
    grid-area: footer;
    display: flex;
    flex-direction: column;
}

.footer {
    background-color: #333;
    text-align: center;
    & p {
        margin: 1rem 0;
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.5px;
        margin-bottom: 17px;
    }
}