@value (
    fontSansSerif
 ) from 'common/styles/index.module.css';

.site {
    composes: siteGrid from './common.module.css'
}

.main-layout {
    grid-area: main;
}

.bottom {
    grid-area: footer;
    display: flex;
    flex-direction: column;
}
